<div class="custom-footer">   
    <div class="row">   
        <div class="col-sm-4">
            clock+ <br>
            email: s3489975@student.rmit.edu.au <br>
            attempt: Pass <br>
        </div>
        <div class="col-sm-8">
            <div class="footer-right">
                <span>Share
                Social</span>
                <i id="facebook" class="fab fa-facebook-square fa-3x"></i>
                <i id="twitter" class="fab fa-twitter-square fa-3x"></i>
                <i id="linkedin"class="fab fa-linkedin fa-3x"></i>
            </div>
        </div>
    </div>
</div>
